<!doctype html>
<html
    class="no-js supports-no-cookies {% if request.path == '/challenge' %} grow-full {% endif %}"
    lang="{{ shop.locale }}" style="--sf-page-opacity: 0;"
>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<meta name="theme-color" content="{{ settings.color_primary }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="dns-prefetch" href="{{ canonical_url }}" crossorigin>
    <link rel="dns-prefetch" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="{{ canonical_url }}" crossorigin>
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {% if template.name == 'product' %}
      <link rel="preload" as="style" href="{{ 'product-template.css' | asset_url }}">
    {% endif %}
    {% if template.name == 'collection' or template.name == 'list-collections' %}
      <link rel="preload" as="style" href="{{ 'collection.css' | asset_url }}">
    {% endif %}
    <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
    <link rel="preload" as="style" href="{{ 'custom.css' | asset_url }}">
    <link rel="preload" as="script" href="{{ 'app.js' | asset_url }}">

	{%- if settings.use_favicon == true and settings.favicon != blank -%}
	    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{%- endif -%}

	{%- capture seo_title -%}
	{{ page_title }}
	{%- if current_tags -%}
	{%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
	{%- endif -%}
	{%- if current_page != 1 -%}
	&ndash; {{ 'general.meta.page' | t: page: current_page }}
	{%- endif -%}
	{%- assign escaped_page_title = page_title | escape -%}
	{%- unless escaped_page_title contains shop.name -%}
	&ndash; {{ shop.name }}
	{%- endunless -%}
	{%- endcapture -%}
	<title>{{ seo_title | strip }}</title>

	{%- if page_description -%}
		<meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% render 'social-meta-tags' %}
    <!-- TODO: optimize font load (find way to sync with style load) -->
    {% render 'font-face' %}

    <!-- Load critical scripts BEFORE style -->
    {% render 'critical-scripts' %}
    {% render 'style-tags' %}
    {% render 'critical-css' %}
    {% render 'custom-code-head' %}

    {{ content_for_header }}
</head>

<body
    id="sf-theme" style="opacity: 0;"
    class="template-{{ template.name | handle }} {{ template.name | append: '-' | append: handle }} relative min-h-screen {% if cart.item_count == 0 %}cart-empty{% endif %}"
    {% if template == 'product' %}
    data-product-id="{{ product.id }}"
    {% endif %}
>
    {% section 'annoucement' %}
    {% section 'header' %}
    <main role="main" id="MainContent">
        <div id="scroll-to-top-target" class="w-0 h-0 invisible opacity-0"></div>
        {{ content_for_layout }}
        {% if settings.show_scroll_top_button %}
            {% render 'scroll-top-button' %}
        {% endif %}
    </main>
    {% section 'footer' %}
    {% section 'mobile-sticky-bar' %}

    {% if request.path == '/challenge' %}
        {% render 'customer-challenge-style' %}
    {% endif %}
    {% render 'custom-code-body' %}
    {% render 'foxkit-messenger' %}
    <script src="//instant.page/5.1.0" type="module" async></script>
    {% render 'script-tags' %}
    <script src="{{ 'app.js' | asset_url }}" async onload="console.log('%c app.js loaded', 'color: #f7a046; font-size: 24px;')"></script>
    <script src="{{ 'foxkit-app.js' | asset_url }}" async></script>
{% render 'banana-stand-footer' %}
</body>
</html>
