{% assign container = section.settings.container %}
{% assign layout = section.settings.layout %}
<div class="hidden md:flex justify-center">
    {% render 'breadcrumb', container: container, justify: 'center' %}
</div>

{% if layout == 'layout-7' %}
  {% assign container = 'w-full' %}
{% endif %}

{% assign sticky_info = false %}

{% if layout == 'layout-1' and product.media.size > 1 %}
  {% assign sticky_info = true %}
{% endif %}

{% if layout == 'layout-2' and product.media.size > 3 %}
  {% assign sticky_info = true %}
{% endif %}

{% if request.design_mode == true %}
  {% assign sticky_info = false %}
{% endif %}
<section
    data-section-type="product-page"
    data-section-id="{{ section.id }}"
    data-layout="{{ layout }}"
    data-enable-history-state="true"
    data-product-handle="{{ product.handle }}"
    data-product-id="{{ product.id }}"
    data-container="{{ container }}"
    data-sticky-info="{{ sticky_info }}"
    class="product-template md:mt-[46px] mb-5 md:mb-12 {% if section.settings.enable_dynamic_checkout %}enable-dynamic-checkout{% endif %}"
>
    <div class="{{ container }}">
      <!-- Product template: desktop content -->
      <div class="sf-prod-template sf-prod-template__desktop">
          {% case section.settings.layout %}
            {% when 'layout-1' %}
              {% render 'product-layout-1', section: section %}
            {% when 'layout-2' %}
              {% render 'product-layout-2', section: section %}
            {% when 'layout-3' %}
              {% render 'product-layout-3', section: section %}
            {% when 'layout-4' %}
              {% render 'product-layout-slider', section: section %}
            {% when 'layout-5' %}
              {% render 'product-layout-slider', section: section %}
            {% when 'layout-6' %}
              {% render 'product-layout-slider', section: section %}
            {% when 'layout-7' %}
              {% render 'product-layout-slider-full', section: section %}
            {% else %}
              {% render 'product-layout-1', section: section %}
          {% endcase %}
      </div>
    </div>

    <!-- Product template: mobile content -->
  {% comment %}
    <div class="md:hidden sf-prod-template__mobile">
      {% render 'product-layout__mobile-1', section: section %}
    </div>
    {% endcomment %}

    <!-- Product template: additional contents -->
    {% if section.settings.use_sticky_atc %}
        {% render 'sticky-atc', section_settings: section.settings, enable_dynamic_checkout: section.settings.enable_dynamic_checkout %}
    {% endif %}
    {% if section.settings.show_ask_a_question %}
        {% render 'form__ask-a-question' %}
    {% endif %}
</section>

{% assign current_variant = product.selected_or_first_available_variant %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>

{% schema %}
{
    "name": "Product pages",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "layout-6",
            "options": [
                {
                  "value": "layout-4",
                  "label": "Standard"
                },
                {
                    "value": "layout-1",
                    "label": "Grid 1 column"
                },
                {
                    "value": "layout-3",
                    "label": "Grid 2 columns"
                },
                {
                    "value": "layout-2",
                    "label": "Grid mix"
                },
                {
                    "value": "layout-5",
                    "label": "Slider 2 columns"
                },
                {
                    "value": "layout-6",
                    "label": "Slider vertical"
                },
                {
                    "value": "layout-7",
                    "label": "Slider full width"
                }
            ]
        },
        {
            "type": "header",
            "content": "Product information"
        },
        {
            "type": "checkbox",
            "id": "show_tags",
            "label": "Show tags",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_vendor",
            "label": "Show product vendor",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_sku",
            "label": "Show SKU",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_categories",
            "label": "Show categories",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_reviews_count",
            "label": "Show reviews count",
            "default": false
        },
        {
            "type": "header",
            "content": "Product form"
        },
        {
            "type": "checkbox",
            "id": "show_quantity_selector",
            "label": "Show quantity selector",
            "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_dynamic_checkout",
          "label": "Enable dynamic checkout",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "hide_atc_button",
          "label": "Hide add to cart button",
          "default": false
        },
        {
            "type": "header",
            "content": "Addons"
        },
        {
            "type": "checkbox",
            "id": "show_atwl",
            "label": "Show button 'Add to wishlist'",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_atcp",
            "label": "Show button 'Add to compare'",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_ask_a_question",
            "label": "Show button 'Add a Question'",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_social",
            "label": "Show social share",
            "default": true
        },
        {
            "type": "header",
            "content": "Visitor count"
        },
        {
            "type": "checkbox",
            "id": "show_live_views",
            "label": "Show visitor count",
            "default": true
        },
        {
            "type": "richtext",
            "id": "live_views_text",
            "label": "Visitor count text",
            "default": "<p><strong>{{count_number}}</strong> <strong>people</strong> are viewing this right now</p>"
        },
        {
            "type": "text",
            "id": "live_views_range",
            "label": "Visitor count range",
            "default": "20-30"
        },
        {
            "type": "text",
            "id": "live_view_duration",
            "label": "Change count number every",
            "default": "10",
            "info": "Seconds"
        },
        {
            "type": "checkbox",
            "id": "live_view_icon_blinks",
            "label": "Visitor count icon blinks",
            "default": true
        },
        {
            "type": "header",
            "content": "Shipping and delivery"
        },
        {
            "type": "checkbox",
            "id": "show_delivery_times",
            "label": "Show delivery estimation",
            "info": "How delivery times are generated? [See how](/#TODO)",
            "default": true
        },
        {
            "type": "text",
            "id": "deliver_text",
            "label": "Delivery text",
            "default": "Estimated Delivery:"
        },
        {
            "type": "text",
            "id": "deliver_days",
            "label": "Deliver in:",
            "info": "days (+/- 2 days)",
            "default": "7"
        },
        {
            "type": "checkbox",
            "id": "show_shipping_text",
            "label": "Show Shipping text",
            "default": true
        },
        {
            "type": "richtext",
            "id": "shipping_text",
            "label": "Shipping text",
            "default": "<p><strong>Free Shipping & Returns: </strong>On all orders over $75</p>"
        },
        {
            "type": "header",
            "content": "Trust badges"
        },
        {
            "type": "checkbox",
            "id": "show_trust_badges",
            "label": "Show trust badges",
            "default": true
        },
        {
            "type": "richtext",
            "id": "trust_badges_text",
            "label": "Trust badges text",
            "default": "<p>Guarantee safe & secure checkout</p>"
        },
        {
            "type": "image_picker",
            "id": "trust_badges_image",
            "label": "Trust badges image"
        },
        {
            "type": "text",
            "id": "trust_badges_image_width",
            "label": "Image width",
            "default": "100%"
        },
        {
            "type": "header",
            "content": "Sticky Add to cart"
        },
        {
            "type": "checkbox",
            "id": "use_sticky_atc",
            "label": "Show sticky add to cart",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "sticky_atc_wishtlist",
            "label": "Show wishlist button",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "sticky_atc_compare",
            "label": "Show compare button",
            "default": false
        }
    ]
}
{% endschema %}
